<% layout("./layouts/boilerplate") %>
<!-- <h1>Welcome to homepage</h1>
<a href="/user">Sign Up</a>
<a href="/user/login">Login</a> -->


   <div class="row d-flex align-items-center vh-90">
    <div class="col-md-12">
        <h1 class="text-center">Expense Tracker</h1>
    </div>
   </div>

   <div class="row mt-5">
    <div class="col-md-6">
        <a  href="/user" class="btn btn-dark w-100">Sign-Up</a>
    </div>
    <div class="col-md-6">
        <a  href="/user/login" class="btn btn-primary w-100">Login</a>
    </div>
   </div>
